@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Afacad', sans-serif;
	font-weight: bold;
}

span,
div,
a,
p {
	font-family: 'Quicksand', sans-serif;
}


@theme static {
    --color-background: #ffffff;
}

